@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700; 1.100..700&display=swap')
:root{
    --branco: white;
    --cor-de-fundo: #02062B;
    --fundo-senha: #28024F;
    --fundo-texto: #240147;
    --borda: #00F0FF; família de fontes: "Roboto Mono", monospace;
 font-optical-sizing: auto; font-weight: <peso>; font-style: normal;
}

{
    font-weight: 400;
}

body{
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
}

.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}

.titulo-secundario{
    font-size: 24px;
}

.conteudo-titulo{ 
    text-align: center;
    margin-top: 80px;
}
